#Title {
  top: 5px;
  text-align: center;
  position: relative;
  color: wheat;
}

#AmountEgg {
  width: 150px;
}
body {
  text-align: center;
  position: relative;
  background-color: lightblue;
  margin: 0;
}

#YouHave {
  color: wheat;
}
#ClearButton {
  background-color: transparent;
  stroke: transparent;
  outline: transparent;
  border: 0px;
}
#Upgrades {
  text-align: left;
  right: 40px;
  position: relative;
}
#Credits {
  text-align: center;
  top: 5px;

  position: relative;
}
#LincolnVia {
  text-align: center;
  top: 30%;

  position: relative;
}
#SqueaserCost {
  width: 50px;
}
#PuncherCost {
  width: 60px;
}
#StabberCost {
  width: 60px;
}
#Save {
  font-size: 15px;
  bottom: 23%;
  position: relative;
}
#Load {
  font-size: 15px;
  bottom: 23%;
  position: relative;
}
#Chicken {
  width: 500px;
}

